# 忽略所有的 a 文件
*.a

# 但跟踪所有的1ib. a ,即便你在前面忽略了 a 文件
!lib . a
	
# 只忽略当前目录下的ToD0文件,而不忽略 subdir/To008/ToD0
/ToDO
	
# 忽略任何目录下名为 build 的文件夹
build/
	
# 忽略 doc/notes.txt,但不忽略doc/server/arch.txt
doc/*.txt
	
# 忽略 doc/目录及其所有子目录下的.pdf文件
doc/**/*.pdf